@model seyahatbiletcim1.Models.Otobus


<br />
<h1 class="page-title" style="margin-left:270px">Otobüs Bileti İptal</h1><span class="title-under" style="margin-left:250px"></span>


<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nereden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nereden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nereye)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nereye)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KoltukNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KoltukNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiyatOto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiyatOto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirmaAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirmaAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YolcuSayisiOto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YolcuSayisiOto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
