@model IEnumerable<seyahatbiletcim1.Models.TumUcakListesi>

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.nereden)
            </th>
            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.nereye)
            </th>
            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.gidistarih)
            </th>
            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.donustarih)
            </th>

            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.UcakFirmaAdi)
            </th>
            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.Sinif)
            </th>
            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.BiletFiyati)
            </th>
            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.Yolcu)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nereden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nereye)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonusTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GidisTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UcakFirmaAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sinif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FiyatUcak)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YolcuKapasitesi)
                </td>
                <td>
                    @Html.ActionLink(seyahatbiletcim1.Resource.HomeText.güncelle, "Edit", new { id = item.TumUcaklarID }) |
                    @Html.ActionLink(seyahatbiletcim1.Resource.HomeText.detay, "Details", new { id = item.TumUcaklarID }) |
                    @Html.ActionLink(seyahatbiletcim1.Resource.HomeText.iade, "Delete", new { id = item.TumUcaklarID })
                </td>
            </tr>
        }

    </table>
}
else
{


    <style>
        h3 {
            background-image: url('../../assets/images/ucakbg.png');
            background-repeat: repeat-y;
        }
    </style>

    <h3 style=" min-height: 190px; margin-top: 10px; background-size: cover;">
        <div class=" text-center">

            <div class="container zoomIn animated ">

                <h1 class="page-title">@Html.Name(seyahatbiletcim1.Resource.HomeText.UcakBilet) <span class="title-under"></span></h1>
                <p class="page-description">
                    @Html.Name(seyahatbiletcim1.Resource.HomeText.ucakslider)
                </p>

            </div>

        </div>
    </h3>





    <h2 class="title-style-2" style="margin-left:120px"> @Html.Name(seyahatbiletcim1.Resource.HomeText.ucaksefer) <span class="title-under"></span></h2>

    <table class="table">
        <tr>
            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.nereden)
            </th>
            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.nereye)
            </th>
            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.gidistarih)
            </th>
            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.donustarih)
            </th>

            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.UcakFirmaAdi)
            </th>
            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.Sinif)
            </th>
            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.BiletFiyati)
            </th>
            <th>
                @Html.Label(seyahatbiletcim1.Resource.HomeText.Yolcu)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nereden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nereye)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonusTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GidisTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UcakFirmaAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sinif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FiyatUcak)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YolcuKapasitesi)
                </td>
            </tr>
        }

    </table>


    <div align="right" style="margin-right:120px">
        <font class="btn btn-primary">
            <button type="button" id="registerLink" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#UyeModal">
                <span class="glyphicon glyphicon-user"></span> @Html.Name(seyahatbiletcim1.Resource.HomeText.uyeistek)
            </button>
        </font>
    </div>



}
